body{
    margin: 0;

    background-color: white;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

}

#icon{
    width: 65px;
    height: 65px;
}

#noticias{
    display: flex;
}

.noticia{
background-color: rgba(228, 10, 10, 0.795);
color: black;
border: 5px solid green;

margin: 10px;
text-align: center;
}

.img_noticia{
    width: 400px;
}